  @media (max-width: 767px) {
    /* for mobile */
    #banner{
        margin: 10px;
    }
    .banner-1{
        width: 100% !important;
        height: 50% !important;
    }
    .card-2 {
        width: 100%;
        margin:0 !important;
    }
    .card-2 img{
        height: 150px !important;
        width: 100px !important;
    }
    .row button{
        padding: 0px 5px !important;
    }
    .partners{
        height: 40px   
    }
    /* Header menu part*/
    .header-1 span{
        font-size: 32px !important;
    }
    
    .responsive {
        position:relative;
        
    }
    .menu-icon .material-icons{
      position: relative;
      padding: 10px;
      float: left;
      display: block !important;
    }
    .navbar a{display: none !important}
    .responsive a {
      float: none;
      display: block;
      text-align: left;
      color: black;
      padding: 8px 20px ;
      text-decoration: none;
      font-size: 19px;
    }

    /* CART part*/

   F /*section */
    .section-1 p{
        font-size: 16px !important;
        font-family:'Source Serif Pro', serif;;
    }
}  
 

/* HEADER-1 */
.header-1{
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem ;
}
.header-1 a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
 } 


/* HEADER-2 */
.header-2{
    display: flex;
    justify-content:space-between;
    background-color:rgb(153, 245, 245);
  
}
.navbar {
    overflow: hidden;
    }
.navbar a {
        float: left;
        display: block;
        color:black;
        font-weight: bold;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
.navbar a:hover {
    font-weight: bold;
    border-radius: 10px;
    color: black;
  } 
#search-bag{
      
      display:flex;
      padding: 0px;
  }
 .menu-icon .material-icons{
       display: none ; 
  }
.search-box-container{
    display: flex;
    float: right;
    padding: 17px;
   }    
 #icon1{
    margin-top: 21px;
    margin-right: 33px;
    pointer-events:painted !important;
 }  
  
.search-box-container .material-icons{
    font-size:30px;
    margin-right: 6px;
    margin-top: 5px;
}  
.search-box-container .search-box{
    height: 30px;
    width: 150%;
    padding: 1rem;
    font-size: 1rem;
    border: .1rem solid rgba(0,0,0,3);
    border-radius: 20px;
    text-transform: none;
    }   
/* SECTION -1  OFFERS */   
.section-1 p{
    font-size: 25px;
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.section-1{
    text-align: center;
}
 /* SECTION -2  MEN/WEMEN */ 
 #banner{
    display: flex;
    flex-wrap: wrap;
    margin-top:20px ;
   } 
 .banner-1{
     width: 50%;
     height: 50%;
 }  
 .banner-1 img{
    height: 100%;
    width: 100%;
} 

      
/* SECTION -3  BEST SELLERS */ 
.section-3 {
   
    text-align: center;
}

.Title h3{
    margin-top: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: underline;
}
.section-3 h4{
    font-size: 32px;
    padding: 90px 0px 5% 0px;
    font-family: 'Merriweather',serif;
    font-weight: bold;
}
.card-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 15%;
}
.card-2 img{
    height: 320px;
    width: 250px;
    border: 1px solid black;
    text-align: center;
}
.row{
    margin:10% 0px;
}
.row button{
    text-align: center;
    border-radius: 10px;
    padding: 0px 30px 0px 30px;
    background-color: rgb(201, 198, 198);
    font-weight: bold;
}
/* MEN/WOMEN COLLECTION difft pages*/
.displayNone{
    display: none;
}
.removeFlex{
    display: block !important;
    text-align: center;
}

#ProBtn{
    margin:45px  0px  ;
}
#ProBtn button{
    width: 20%; 
    padding: 3px 0px 3px 0px;
    border-radius: 8px;
    background-color: rgb(0, 55, 128);
    color: white;
    border: 2px solid rgb(79, 190, 224) ;
    font-weight: bold;
    font-size: 20px;
}
#Mproducts {
 display:flex ;
 justify-content: center;
 flex-wrap: wrap;
 margin-bottom: 20px;
 }
.card{
     height: 450px;
     width: 287px;
     border: 1px solid black;
     text-align: center;
     margin: 15px;
   }
.p-name{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: chocolate;
    }
.p-details{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}    
.p-price{
    font-weight: bold;
    color: rgb(116, 24, 24);
    font-size: large;
}    
.p-img,img{
    height: 300px;
    width: 285px;
}       

.Pbtn{
   background-color: rgb(127, 208, 211);;
   color: black;
   width: 100%;
   margin-top: 42px;
   padding: 5px;
   border-radius: 6px;
}

/* Add to bag*/
         
 /* Totals section */
.totals .totals-item {
      float: right;
      clear: both;
      width: 100%;
      margin-bottom: 10px;
}
.totals label {
        float: left;
        clear: both;
        width: 79%;
        text-align: right;
      }
      
.totals-value {
        float: right;
        width: 21%;
        text-align: right;
      }
 .checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: #494;
  }
 .cart-img{
     margin-bottom: 30%;
 }    
/* SECTION -PARTNER  // PARTNERS */
 
 #partner-section h4{
     font-size: 18px;
     margin-top: 15px;
 }
 #partner-section {
     text-align: center;
     }
.partners{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    margin: 30px 0px 30px 0px;
   }
.partners img{
    height: 100%;
    width: 100%;
}


 
/* FOOTER */
footer{
    font-size: 18px;
    background-color: rgb(206, 205, 205);
 }
 .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 15px;
}
 .f-1 {
     margin:10px 0px 10px 5px;
 }

 .f-2-1 ul{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
 }
 .f-2-1 img{
   height: 50px;
   width: 50px;

 }
 footer .text{
    font-size: 14px;
    background-color: rgb(247, 242, 242) ;
 }